* {
  padding: 0;
  margin: 0;
}

body {
  background: url("./assets/sunlit-forest-path.webp");
  background-size: contain;
}

.dashboard {
  background-size: contain;
  border-bottom: #000848;
  font-family: fantasy;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 20px;
  height: 80px;
  margin-top: 10px;
}

.score-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  background: linear-gradient(135deg, #3f42ff, #000848);
  border-radius: 12px;
}

.score {
  display: flex;
  gap: 100px;
  background: linear-gradient(135deg, #ffeb3b, #ff9800) padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  display: flex;
}

.pokemons-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  justify-items: center;
  align-items: center;
  padding: 10px;
}

.card {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 20px;
  width: 250px;
  height: 300px;
  cursor: pointer;
  border-radius: 20px;
  border: 10px solid transparent;
  background:
    linear-gradient(135deg, #ffeb3b, #ff9800) padding-box,
    linear-gradient(135deg, #3f42ff, #000848) border-box;
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.442);
  transition: all 0.1s ease-in;
}

.card:hover {
  transform: scale(102%);
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: fantasy;
  font-weight: 100;
  font-size: 2rem;
}

.pokemon {
  width: 70%;
  max-height: 190px;
  margin-bottom: 10px;
}
